@use '../variables' as *;
@use '../mixins' as *;

.hero {
    padding: 0 0 $spacing-xl;
    background-color: #f4f1ea; // Slightly darker cream
    text-align: center;

    h1 {
        font-size: 3.5rem;
        margin: $spacing-md;
        color: $color-primary;

        @include mobile {
            font-size: 2.5rem;
        }
    }

    p {
        font-size: 1.2rem;
        max-width: 700px;
        margin: 0 auto $spacing-lg;
        color: $color-text-light;
    }

    img {
        width: 100%;
        height: 1000px;
        object-fit: cover;
        margin-bottom: $spacing-md;
        border-radius: 4px; // subtle polish
    }
}