@use 'variables' as *;

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: $font-family-sans;
    background-color: $color-bg;
    color: $color-text;
    font-size: $font-size-base;
    line-height: $line-height-base;

    &[dir="rtl"] {
        font-family: $font-family-fa;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-family-serif;
    color: $color-primary;
    margin-bottom: $spacing-sm;
    font-weight: 700;
}

a {
    text-decoration: none;
    color: inherit;
    transition: color 0.3s ease;

    &:hover {
        color: $color-secondary;
    }
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}